<% include partials/header %>

    <!-- Page Content -->
    <% include partials/channel_section %>


    <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <ul class="chat-list scroll-hijack">
                    <% channel.participant.forEach(function(participant){ %>
                        <%if(participant._id.equals(currentUser._id)){ %>

                        <% }else if(participant.online === true){ %>
                            <li><a class="user"><div class="avatar"><img class="little_avatar"  src="<%= participant.profile_picture %>" /></div>hey<%= participant.username %></a></li>
                        <% }else{ %>
                            <li><a><div class="avatar"><img class="little_avatar"  src="<%= participant.profile_picture %>" /></div><%= participant.username %></a></li>
                        <% } %>
                    <% }); %>
            </ul>
        </div>
        <div id="chat" class="page">
            <div class="page-header clearfix">
                <span><%= channel.channel_name %></span>
                <ul>
                    <!-- <li><a title="Online" href="#">Online - 1</a></li> -->
                </ul>
            </div>
            <div class="chat-body scroll-hijack">
                    <% channel.message.forEach(function(message){ %>
                        <div class="chat-message">
                                <div class="avatar"><img src="<%= message.author.profile_picture %>" /></div>
                                <div class="chat-message-content">
                                    <a href="/users/<%= message.author._id %>" class="chat-message-author"><%= message.author.username %></a>
                                    <span class="chat-message-date"><%= moment(message.created_at).format("lll")  %></span>
                                    <div class="chat-message-message">
                                            <%= message.text %>  
                                    </div>
                                </div>
                        </div>
                    <% }); %>
            </div>
            <div class="chat-footer relative">
                <form id="message-form" action="">
                    <input name="message" type="text" class="post-input" placeholder="Your Text..." />
                    <button type="submit" class="post-button"><span class="caret-right"></span></button>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer %>
