<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Minicord | Channel Name</title>
    </head>
    <body>
        <div>
            <ul id="messages">
                <% channel.message.forEach(function(message){ %>
                    <li><b><%= message.author.name %></b> : <i><%= message.text %></i></li>
                <% }); %>
            </ul>
        </div>

        

        <form id="message-form" action="">
            <label for="message">Message: </label> <input type="text" placeholder="message" name="message">
            <button>send</button>
        </form>

        <div>
                <h4>Participant</h4>
            <ol>
                    <% channel.participant.forEach(function(participant){ %>
                        <% if(participant.online === true){ %>
                            <li><%= participant.username %>-<i><b> Online </b> </i></li>
                        <% }else{ %>
                            <li><%= participant.username %></li>
                        <% } %>
                    <% }); %>
            </ol>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/jquery-3.3.1.min.js"></script>
        <script>var userID = "<%= currentUser._id %>";</script>
        <script>var channelID = "<%= channel._id %>";</script>
        <script src="/js/chat.js"></script>
    </body>
</html>