<% include partials/header %>

    <!-- Page Content -->
    <% include partials/channel_section %>

    <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <ul class="chat-list scroll-hijack">
            
            </ul>
        </div>
        <div id="profile" class="page">
            <div class="page-header clearfix">
                <span>My Profile</span>
                <ul>
                    <!-- <li><a title="Online" href="#">Online - 1</a></li> -->
                </ul>
            </div>
            <div class="profile-body scroll-hijack">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="row valign">
                            <div class="col-md-6">
                                <h6 class="text-bold mb-25">Friend List</h6>
                                <div class="friend-list scroll-hijack">
                                    <ul class="list">
                                        <li><a href="#"><div class="avatar"><img class="little_avatar" src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random5884</a></li>
                                        <li><a href="#"><div class="avatar"><img class="little_avatar" src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random3858</a></li>
                                        <li><a href="#"><div class="avatar"><img class="little_avatar" src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random2381</a></li>
                                        <li><a href="#"><div class="avatar"><img class="little_avatar" src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random3858</a></li>
                                        <li><a href="#"><div class="avatar"><img class="little_avatar" src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random2381</a></li>
                                        <li><a href="#"><div class="avatar"><img class="little_avatar" src="/img/placeholder-avatar<%= Math.floor((Math.random() * 7) + 1) %>.jpg" /></div>random2948</a></li>
                                    </ul>
                                </div>
                                <h6 class="text-bold mt-25">Groups List</h6>
                                <p class="mb-25 clr-fade text-small">Click a group to copy the invite link to clipboard</p>
                                <div class="groups-list scroll-hijack">
                                    <ul class="list">
                                        <% channels.forEach(function(channel){ %>
                                            <li><a href="/channel/<%=channel._id%>" data-invite-link="https://minicord.herokuapp.com/channel/join/<%=channel._id%>"><div class="avatar"><img class="little_avatar" src="<%= channel.channel_picture %>" /></div><%=channel.channel_name%></a></li>
                                        <%});%>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mt-25 visible-xs visible-sm"></div>
                                <h6 class="text-bold">Profile Settings</h6>
                                <form class="form-horizontal" action="/users/@me/update?_method=PATCH" method="POST">
                                    <div class="form-group">
                                        <p class="label mb-10">Choose a new profile image</p>
                                        <label  for="profile_photo" class="profile-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a new profile image" data-placement="bottom"><img id="profile_photo_img" src="<%= currentUser.profile_picture %>" /></label>
                                        <input id="profile_photo" class="profile-photo"  />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_email">Email</label>
                                        <input type="email" name="user[email]" disabled id="profile_email" class="form-control" value="<%= currentUser.email %>" />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_username">Username</label>
                                        <input type="text" name="user[username]" id="profile_username" class="form-control" value="<%= currentUser.username %>" />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_password">Password</label>
                                        <input type="password" name="profile_password" disabled id="profile_password" class="form-control" value="johndoe" />
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="profile_c_password">Confirm Password</label>
                                        <input type="password" name="profile_c_password" id="profile_c_password" class="form-control" value="johndoe" />
                                    </div> -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-radius">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
